@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* line 3, ../курсы/katera/src/sass/style.sass */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* line 9, ../курсы/katera/src/sass/style.sass */
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #14566a 0%, #020818 55%, #1d3c08 100%);
}

/* line 14, ../курсы/katera/src/sass/style.sass */
.navbar-collapse {
  justify-content: flex-end;
}

/* line 17, ../курсы/katera/src/sass/style.sass */
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 22, ../курсы/katera/src/sass/style.sass */
.bg {
  width: 110%;
  height: 110%;
  background: url(https://img-fotki.yandex.ru/get/224193/24332511.183/0_d586e_924e781d_orig) no-repeat;
  background-size: cover;
  position: relative;
}

/* line 29, ../курсы/katera/src/sass/style.sass */
.bird {
  width: 5200px;
  height: 2723px;
  background: url(../img/oblaka.png) no-repeat;
  position: absolute;
  bottom: -150px;
  left: -10%;
}

/* line 37, ../курсы/katera/src/sass/style.sass */
.content {
  font-size: 100px;
  font-family: Roboto;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

/* line 48, ../курсы/katera/src/sass/style.sass */
.content h1 {
  text-align: center;
}

/* line 50, ../курсы/katera/src/sass/style.sass */
.content p {
  font-size: 25px;
  text-align: center;
}

/* line 58, ../курсы/katera/src/sass/style.sass */
.blockquote {
  color: #fff;
}

/* line 61, ../курсы/katera/src/sass/style.sass */
.blockquote-footer {
  color: #fff;
}

/* line 65, ../курсы/katera/src/sass/style.sass */
.uslugi {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

/* line 73, ../курсы/katera/src/sass/style.sass */
.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

/* line 82, ../курсы/katera/src/sass/style.sass */
.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* line 92, ../курсы/katera/src/sass/style.sass */
.sidebar h3 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
  text-align: center;
}

/* line 98, ../курсы/katera/src/sass/style.sass */
.sidebar p {
  text-align: center;
}

/* line 102, ../курсы/katera/src/sass/style.sass */
.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

/* line 111, ../курсы/katera/src/sass/style.sass */
.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

/* line 119, ../курсы/katera/src/sass/style.sass */
button {
  background-color: #fff;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  padding: 30px;
}

/* line 128, ../курсы/katera/src/sass/style.sass */
button:hover {
  color: #222;
}

/* line 132, ../курсы/katera/src/sass/style.sass */
button:focus {
  outline: none;
}

/* line 136, ../курсы/katera/src/sass/style.sass */
.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

/* line 143, ../курсы/katera/src/sass/style.sass */
.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 149, ../курсы/katera/src/sass/style.sass */
.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 158, ../курсы/katera/src/sass/style.sass */
.kartochki {
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 0 20px;
}

/* line 165, ../курсы/katera/src/sass/style.sass */
.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

/* line 179, ../курсы/katera/src/sass/style.sass */
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* line 188, ../курсы/katera/src/sass/style.sass */
.slide.active {
  flex: 10;
}

/* line 192, ../курсы/katera/src/sass/style.sass */
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* line 198, ../курсы/katera/src/sass/style.sass */
.vid {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
}

/* line 204, ../курсы/katera/src/sass/style.sass */
.txt {
  display: flex;
  background: linear-gradient(221.87deg, #002834 25%, #2a8d9c 100%);
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

/* line 212, ../курсы/katera/src/sass/style.sass */
.txt p {
  max-width: 450px;
  text-align: center;
}

/* line 216, ../курсы/katera/src/sass/style.sass */
.ecran {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

/* line 225, ../курсы/katera/src/sass/style.sass */
.map {
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0;
}

/* line 234, ../курсы/katera/src/sass/style.sass */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* line 240, ../курсы/katera/src/sass/style.sass */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* line 248, ../курсы/katera/src/sass/style.sass */
.foo {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #fff;
}

/* line 254, ../курсы/katera/src/sass/style.sass */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

/* line 257, ../курсы/katera/src/sass/style.sass */
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

/* line 261, ../курсы/katera/src/sass/style.sass */
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

/* line 265, ../курсы/katera/src/sass/style.sass */
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

/* line 269, ../курсы/katera/src/sass/style.sass */
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

/* line 274, ../курсы/katera/src/sass/style.sass */
section {
  margin-top: 50px;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media screen and (max-width: 1024px) {
  /* line 287, ../курсы/katera/src/sass/style.sass */
  .sidebar h3 {
    margin-top: -135px;
  }
}

@media screen and (max-width: 768px) {
  /* line 291, ../курсы/katera/src/sass/style.sass */
  .kartochki {
    display: block;
  }
  /* line 293, ../курсы/katera/src/sass/style.sass */
  .too {
    display: none;
  }
  /* line 296, ../курсы/katera/src/sass/style.sass */
  .vid {
    flex-wrap: wrap;
  }
  /* line 299, ../курсы/katera/src/sass/style.sass */
  .sidebar h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 425px) {
  /* line 304, ../курсы/katera/src/sass/style.sass */
  .sidebar h3 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
