@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* line 1, ../курсы/katera/src/sass/style.sass */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* line 7, ../курсы/katera/src/sass/style.sass */
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #2e4f4f 0%, #0e8388 35%, #cbe4de 100%);
}

/* line 12, ../курсы/katera/src/sass/style.sass */
.navbar-collapse {
  justify-content: flex-end;
}

/* line 15, ../курсы/katera/src/sass/style.sass */
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 20, ../курсы/katera/src/sass/style.sass */
.bg {
  width: 110%;
  height: 110%;
  background: url(https://img-fotki.yandex.ru/get/224193/24332511.183/0_d586e_924e781d_orig) no-repeat;
  background-size: cover;
  position: relative;
}

/* line 27, ../курсы/katera/src/sass/style.sass */
.bird {
  width: 5200px;
  height: 2723px;
  background: url(../img/oblaka.png) no-repeat;
  position: absolute;
  bottom: -150px;
  left: -10%;
}

/* line 35, ../курсы/katera/src/sass/style.sass */
.content {
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  text-shadow: 5px 5px 15px #000;
}

/* line 47, ../курсы/katera/src/sass/style.sass */
h1 {
  text-align: center;
}

/* line 55, ../курсы/katera/src/sass/style.sass */
.blockquote {
  color: #fff;
}

/* line 58, ../курсы/katera/src/sass/style.sass */
.blockquote-footer {
  color: #fff;
}

/* line 62, ../курсы/katera/src/sass/style.sass */
.uslugi {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

/* line 70, ../курсы/katera/src/sass/style.sass */
.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

/* line 79, ../курсы/katera/src/sass/style.sass */
.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* line 89, ../курсы/katera/src/sass/style.sass */
.sidebar h3 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

/* line 95, ../курсы/katera/src/sass/style.sass */
.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

/* line 104, ../курсы/katera/src/sass/style.sass */
.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

/* line 112, ../курсы/katera/src/sass/style.sass */
button {
  background-color: #fff;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  padding: 30px;
}

/* line 121, ../курсы/katera/src/sass/style.sass */
button:hover {
  color: #222;
}

/* line 125, ../курсы/katera/src/sass/style.sass */
button:focus {
  outline: none;
}

/* line 129, ../курсы/katera/src/sass/style.sass */
.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

/* line 136, ../курсы/katera/src/sass/style.sass */
.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 142, ../курсы/katera/src/sass/style.sass */
.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 151, ../курсы/katera/src/sass/style.sass */
.kartochki {
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 0 20px;
}

/* line 158, ../курсы/katera/src/sass/style.sass */
.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

/* line 172, ../курсы/katera/src/sass/style.sass */
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* line 181, ../курсы/katera/src/sass/style.sass */
.slide.active {
  flex: 10;
}

/* line 185, ../курсы/katera/src/sass/style.sass */
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/*# sourceMappingURL=style.css.map */
